<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ucar" level="WARN" />
    <logger name="cacheLogger" level="WARN" />
    <logger name="slick" level="INFO" />
    <!-- <logger name="org.soaringmeteo.gfs.out.VectorTiles$" level="TRACE" /> -->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
