<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>SoaringMeteo</title>
        <style>
            body{padding:0;margin:0}
            html,body,#app{height:100%}
        </style>
        <meta name="description" content="Free weather information and forecast (WRF and GFS) for soaring (paragliding, hanggliding, sailplane) pilots.">
        <script defer data-domain="soaringmeteo.org" src="http://tiles.soaringmeteo.org:8000/js/script.js"></script>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
