<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" href="icon_28x28.png" type="image/x-icon">
        <title>SoaringMeteo</title>
        <style>
            body{padding:0;margin:0}
            html,body,#app{height:100%}
        </style>
        <link rel="manifest" href="manifest.json">
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
