<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>SoaringMeteo</title>
        <style>
            body{padding:0;margin:0}
            html,body,#app{height:100%}
        </style>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
